* {
  padding: 0;
  margin: 0;
  /* background-color: #0D1117; */
}
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,400;0,500;1,100&display=swap');
body {
  background-color: #0d1117;
  font-family: 'Exo 2', sans-serif;
}

.App {
  color: rgb(255, 255, 255);
  max-width: 1000px;
  background-color: #0d1117;
  margin: auto;
  min-height: 100vh;
}

.header {
  width: 100%;


  background-color: #0d1117;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem ;
}
.header_button_go {
  padding: 10px;
  background-color: #8E5221;
  outline: none;
  color: white;
  font-weight: bold;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.header_button_go:hover {
  transform: scale(1.04);
}
.logo {
  height: 160px;
  width: 480px;
}

.serach {
  display: flex;
}
.hero-image img {
  width: 400px;
  height: 400px;
  margin-top: 2rem;
  padding-left: 2rem;
  border-radius: 10rem 0 10rem 0;
}

.hero {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  justify-content: space-between !important;
}
.text-hero {
}
.text-hero h1 {
  margin-top: 30px;
  font-size: 3rem;
  color: #FEA371;
  line-height: 50px;
  letter-spacing: 4px;
}

.text-hero p {
  margin-top:40px;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 1px;
  color: #69A5AA;
}

.s {
  margin-top: 60px;
  display: flex;
}
input {
  padding: 10px;
  color: rgb(0, 0, 0);
  width: 400px;
  outline: none;
}

.s button {
  padding: 10px;
  background-color: #FEA371;
  outline: none;
  border: none;
  font-size: 20px;
  color:#0d1117;
  
  cursor: pointer;

}
.s button:hover{
  opacity: 0.7;
}
.book-row {
  padding: 3rem 1rem;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.book-card {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 380px;
  background-color: #ffffff;
  border-radius: 1px solid white;
  margin: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(255, 255, 255, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgb(249, 252, 255) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  cursor: pointer;
}
.book-card:hover {
  transform: scale(0.94);
}
.book-card img {
  height: 250px;
  width: 220px !important;
}

.book-card .dec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #B8342F;
  font-weight: bold;
}

.book-card button {
  display: flex;
  padding: 4px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  background-color: #FEA371;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  width: 130px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}
.book-card button:hover{
  transform: scale(0.9);
}
.author{
  margin-top: 10px;
  padding: 3px;
  background-color: rgb(6, 237, 10);
  border-radius: 10px;
  font-size: 10px;
  color: white;

}
.error{
   margin-top: 10px;
  padding: 3px;
  background-color: #B8342F;
  border-radius: 10px;
  font-size: 10px;
  color: white;
}
.footer{
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}
@media screen  and (max-width:768px){
  .hero{
    flex-wrap: wrap;
  }
  .text-hero p {
  text-align: justify;
  padding: 0 0.4rem;
 
}

.header{
  position: fixed;
   border-bottom: 0.4px solid white;
}
.logo{
  width: 95%;
  height: 110px;
  padding-bottom: 2rem ;

}
input{
  width: 70%;
}
.text-hero h1{
  font-size: 40px;
  letter-spacing: 1px;
  margin-top:220px ;
}

.footer{
  padding: 1rem 0;
}
.hero-image img{
 width: 96%; 
 height: 330px;
 margin-top: 2rem;
  padding-left: 0;
  border-radius: 5rem 0 5rem 0;
  border: 0.5px solid #FEA371;
}
.headletter{
  font-size: 26px;
  padding: 20px;
}
.book-card {
  margin-left: auto;
  margin-right: auto;
}
}
.as{
text-decoration: none;
}

.headletter{
  text-align: center;
 
  padding-top: 3rem;
  color: #FEA371;
}

.b{
  color: #0d1117;
}
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 10px;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #FEA371;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
